{{#partial "content"}}
    <div class="jumbotron text-center">
        <h1 class="display-1">Hero Assemble</h1>
        <p class="lead">The web app that helps assemble and manage a team of
        heroes that fight the ills in the society.</p>
        <p class="lead">Heroes have come together since the beginning of time
        to fight for the greater good.</p>
        <div class="row row-cols-3">
            <p class="col ">Avengers</p>
            <p class="col ">X-Men</p>
            <p class="col ">Autobots</p>
            <p class="col ">Fantastic Four</p>
            <p class="col ">Big Hero 6</p>
            <p class="col ">Jedi</p>
            <p class="col ">The Incredibles</p>
            <p class="col ">ThunderCats</p>
            <p class="col ">Titans </p>
            <p class="col ">Teenage Mutant Ninja Turtles</p>
            <p class="col ">Team Avatar</p>
            <p class="col ">The Power Puff Girls </p>
            <p class="col ">Men in Black</p>
            <p class="col ">Misfits</p>
            <p class="col ">Justice League</p>
        </div>
        <div class="d-grid gap-2 col-8 mx-auto m-5">
            <a class="btn btn-outline-dark btn-lg" href="/squads/new">Create your hero squad</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}