{{#partial "content"}}

    <div class="card col-lg-8">
        <p class="card-text" id="hero-text">You have successfully created a Hero</p>
    </div>

    <a href="/heroes" class="btn btn-outline-dark btn-lg"> view Heroes </a>

{{/partial}}

{{> layout.hbs}}