{{#partial "content"}}

    <form class="form-group" action="/heroes" method= post>
        <h3>Create Heroes:</h3>
        <div>
        <div class="form-floating mt-3">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
            <label for="floatingInput">Hero's name</label>
          </div>
          <div class="form-floating mt-3">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
            <label for="floatingInput">Super Power</label>
          </div>
          <div class="form-floating mt-3">
             <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
             <label for="floatingInput">Weakness</label>
          </div>
        </div>
        <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <label for="squadId" class="input-group-text"> Squad: </label>
                    </div>
                    <select class="custom-select" id="squadId" name="squadId" required>
                        {{#each squads}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    </div>
                <button type="submit" class="btn btn-primary"> Create Hero</button>
    </form>

{{/partial}}

{{> layout.hbs}}